@model E_Commerce_App.WebUI.ViewModels.ProductViewModel
@if (!string.IsNullOrEmpty(ViewData["ProductId"].ToString()))
{
    ViewData["SubPage"] = "Ürünler";
    ViewData["SubPageUrl"] = "Product";
    ViewData["CurrentPage"] = "Düzenle / " + ViewData["ProductId"];
    ViewData["CurrentPageUrl"] = "Product/Edit/" + ViewData["ProductId"];
}
else
{
    ViewData["SubPage"] = "Ürünler";
    ViewData["SubPageUrl"] = "Product";
    ViewData["CurrentPage"] = "Ürün Ekle";
    ViewData["CurrentPageUrl"] = "Product/Add/";
}

@section Css{
    <!-- Trumbowyg Html Editor Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==" crossorigin="anonymous" />
    <link href="~/node_modules/trumbowyg/dist/ui/trumbowyg.css" />
    <link href="~/node_modules/trumbowyg/dist/ui/trumbowyg.min.css" />
}
<form enctype="multipart/form-data" id="product-form" method="post">

    <input type="hidden" asp-for="ProductDto.Id" />
    <input type="hidden" asp-for="ProductDto.CreationDate" />
    <input type="hidden" asp-for="ProductDto.MainImage" />
    <input type="hidden" asp-for="ProductDto.IsActive" />

    <div class="row">
        <div class="col-md-8">
            <div class="card p-2">
                <label>Ürün Özellikleri</label>
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" id="productName" asp-for="ProductDto.Name" placeholder="Ürün Adı" />
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" asp-for="ProductDto.Url" id="productUrl" class="form-control" readonly />
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input type="number" step="0.1" min="1" max="1000000" class="form-control" id="productPrice" asp-for="ProductDto.Price" placeholder="Ürün Fiyatı" />
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="number" step="0.1" min="1" max="90" class="form-control" id="productDiscount" asp-for="ProductDto.Discount" placeholder="İndirim %" />
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <textarea asp-for="ProductDto.ShortDescription" id="productShortDescription" maxlength="240" class="form-control" placeholder="Ön açıklama yazınızı buraya giriniz."></textarea>
                </div>
                <br />
                <div class="form-group">
                    <textarea id="html-editor" asp-for="ProductDto.Description">
                    Ürünün Detaylı Açıklamasını Burada Yapınız
                </textarea>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <label>Kategoriler</label>
                <div class="bg-gradient-secondary p-2" style="border-radius:10px;">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="@category.Id" name="categoryIds"
                                   id="category_@(category.Id)"
                                   @if (Model.SelectedCategories != null) { @(Model.SelectedCategories.Any(i => i.CategoryId == category.Id) ? "checked" : "") ; } />
                            <label class="form-check-label" for="category_@(category.Id)">@category.Name</label>
                        </div>
                    }
                </div>
                <hr />
                <label>Renkler</label>
                <div class="bg-gradient-secondary p-2" style="border-radius:10px;">
                    @foreach (var color in Model.Colors)
                    {
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="@color.Id" name="colorIds"
                                   id="color_@(color.Id)"
                                   @if (Model.SelectedColors != null) { @(Model.SelectedColors.Any(i => i.Id == color.Id) ? "checked" : "") ; } />
                            <label class="form-check-label" for="color_@(color.Id)">
                                @color.Name
                                <i class="fa fa-circle" style="color:@color.Code"></i>
                            </label>
                        </div>
                    }
                </div>
                <hr />
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" asp-for="ProductDto.IsHome" />
                    <label class="form-check-label" asp-for="ProductDto.IsHome">Satışa Çıkarılsın mı ?</label>
                </div>
                <br />
                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">Kaydet</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="form-group">
                    <label>Ana Resim</label>
                    <input type="file" name="mainImage" onchange="showpreview(this);" id="mainImageId" class="input-btn" />
                    <hr />
                    <input type="hidden" asp-for="ProductDto.MainImage" id="productMainImage" />
                    @if (Model.ProductDto.MainImage == "")
                    {
                        <img id="imgpreview" height="200" width="200" style="border-width: 0px;display: none;" />
                    }
                    else
                    {
                        <img src="~/img/@Model.ProductDto.MainImage" id="imgpreview" height="200" width="200" style="border-width: 0px;" />
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card p-2">
                <div class="form-group">
                    <label>Ürün Resimleri</label>
                    <input type="file" name="allImages" multiple onchange="previewFiles();" id="browse" class="input-btn" />
                    <hr />
                    <div id="preview">
                        @if (Model.Images != null)
                        {
                            @foreach (var image in Model.Images)
                            {
                                <img src="~/img/@image.ImagePath" id="img" class="product-images" height="200" width="200" style="border-width: 0px;" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <!-- Trumbowyg Html Editor JS -->
    <script src="~/node_modules/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="~/node_modules/trumbowyg/dist/langs/tr.min.js"></script>
    <!-- AddOrEdit Custom JS File -->
    <script src="~/customPagesJs/adminProduct.js"></script>
}