@model E_Commerce_App.WebUI.ViewModels.ProductViewModel
@if (ViewData["ProductId"].ToString() != "")
{
    ViewData["CurrentPage"] = "Ürünler / Düzenle / " + ViewData["ProductId"];
    ViewData["CurrentPageUrl"] = "Product/Edit/" + ViewData["ProductId"];
}
else
{
    ViewData["CurrentPage"] = "Ürünler / Ürün Ekle";
    ViewData["CurrentPageUrl"] = "Product/Edit/" + ViewData["ProductId"];
}

@section Css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.23.0/ui/trumbowyg.min.css" integrity="sha512-iw/TO6rC/bRmSOiXlanoUCVdNrnJBCOufp2s3vhTPyP1Z0CtTSBNbEd5wIo8VJanpONGJSyPOZ5ZRjZ/ojmc7g==" crossorigin="anonymous" />

    <link href="~/node_modules/trumbowyg/dist/ui/trumbowyg.css" />
    <link href="~/node_modules/trumbowyg/dist/ui/trumbowyg.min.css" />
}


<form enctype="multipart/form-data" id="productForm" method="post">

    <input type="hidden" asp-for="Product.Id" />

    <input type="hidden" asp-for="Product.CreationDate" />

    <input type="hidden" asp-for="Product.MainImage" />

    <div class="row">
        <div class="col-md-8">
            <div class="card p-2">
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Product.Name" placeholder="Ürün Adı" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" asp-for="Product.Url" placeholder="Ürün URL" />
                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="col-md-6">
                        <input type="number" step="0.1" min="1" max="1000000" class="form-control" asp-for="Product.Price" placeholder="Ürün Fiyatı" />
                    </div>
                    <div class="col-md-6">
                        <input type="number" step="0.1" min="1" max="100" class="form-control" asp-for="Product.Discount" placeholder="İndirim %" />
                    </div>
                </div>
                <br />
                <textarea asp-for="Product.ShortDescription" maxlength="240" class="form-control" placeholder="Ön açıklama yazınızı buraya giriniz."></textarea>
                <br />
                <textarea id="html-editor" asp-for="Product.Description">
                    Ürünün Detaylı Açıklamasını Burada Yapınız
                </textarea>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <label>Kategoriler</label>
                <div class="bg-gradient-secondary p-2" style="border-radius:10px;">
                    @foreach (var category in Model.Categories)
                    {
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="@category.Id" name="categoryIds"
                                   id="category_@(category.Id)"
                                   @if (Model.SelectedCategories != null) { @(Model.SelectedCategories.Any(i => i.CategoryId == category.Id) ? "checked" : "") ; } />
                            <label class="form-check-label" for="category_@(category.Id)">@category.Name</label>
                        </div>
                    }
                </div>
                <hr />
                <label>Renkler</label>
                <div class="bg-gradient-secondary p-2" style="border-radius:10px;">
                    @foreach (var color in Model.Colors)
                    {
                        <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" value="@color.Id" name="colorIds"
                                   id="color_@(color.Id)"
                                   @if (Model.SelectedColors != null) { @(Model.SelectedColors.Any(i => i.Id == color.Id) ? "checked" : "") ; } />
                            <label class="form-check-label" for="color_@(color.Id)">
                                @color.Name
                                <i class="fa fa-circle" style="color:@color.Code"></i>
                            </label>
                        </div>
                    }
                </div>
                <hr />
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" asp-for="Product.IsHome" />
                    <label class="form-check-label" asp-for="Product.IsHome">Satışa Çıkarılsın mı ?</label>
                </div>
                <br />
                @*Submit Button*@
                <input type="submit" id="btnSubmit" class="btn btn-primary btn-block" value="Kaydet" onclick="submit()" />

            </div>
        </div>
        <div class="col-md-12">
            <div class="card p-2">
                <div class="form-group">
                    <p>Ana Resim</p>
                    <input type="file" name="mainImage" onchange="showpreview(this);" />
                    <input type="hidden" />
                    @if (Model.Product.MainImage == "")
                    {
                        <img id="imgpreview" height="200" width="200" style="border-width: 0px;display: none;" />
                    }
                    else
                    {
                        <img src="~/img/@Model.Product.MainImage" id="imgpreview" height="200" width="200" style="border-width: 0px;" />
                    }
                </div>
                <div class="form-group">
                    <p>Ürün Resimleri</p>
                    <input type="file" name="allImages" multiple onchange="previewFiles();" id="browse" />
                    <div id="preview">
                        @if (Model.Images != null)
                        {
                            @foreach (var image in Model.Images)
                            {
                                <img src="~/img/@image.ImagePath" id="img" height="200" width="200" style="border-width: 0px;" />
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/node_modules/trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="~/node_modules/trumbowyg/dist/langs/tr.min.js"></script>
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>


        $('#html-editor').trumbowyg({
            lang: 'tr'
        });

        function submit() {
            var url = "@Context.Request.Path";
            console.log(url);
            $.ajax({

            });
        }


        function showpreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgpreview').css('display', 'block');
                    $('#imgpreview').attr('src', e.target.result);
                    $('#imgpreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        function previewFiles() {
            var preview = document.querySelector('#preview');
            var files = document.querySelector('#browse').files;
            preview.innerHTML = "";
            function readAndPreview(file) {
                // Make sure `file.name` matches our extensions criteria
                if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                    var reader = new FileReader();
                    reader.addEventListener("load", function () {
                        var image = new Image();
                        image.height = 100;
                        image.title = file.name;
                        image.src = this.result;
                        preview.appendChild(image);
                    }, false);
                    reader.readAsDataURL(file);
                }
            }
            if (files) {
                [].forEach.call(files, readAndPreview);
            }
        }
    </script>
}
