@model E_Commerce_App.WebUI.ViewModels.ProductViewModel
@{
    Layout = "_Layout";
    var product = Model.ProductDto;
    var mainImage = Model.ProductDto.MainImage;
    var productImages = Model.Images.ToList();
    productImages.Insert(0, new E_Commerce_App.Core.Shared.DTOs.ImageDto { ImagePath = mainImage });

    double discountedPrice = 0;
    var price = Convert.ToDouble(product.Price);
    price = Math.Round(price, 0);
    if (product.Discount != null && product.Discount > 0)
    {
        discountedPrice = Convert.ToDouble(product.Price - ((product.Price * product.Discount) / 100));
    }
}
@section Css{
    <!-- Product Detail Custom Css -->
    <link href="~/css/productDetail.css" rel="stylesheet" />
    <!-- Lightslider Css -->
    <link href="~/node_modules/lightslider/dist/css/lightslider.min.css" rel="stylesheet" />
}
<form asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.ProductDto.Id" id="product-detail-form">
    <div><br /><br /></div>
    <div class="pd-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-3 shadow">
                    @if (productImages != null)
                    {
                        <ul id="imageGallery">
                            @foreach (var image in productImages)
                            {
                                <li data-thumb="/img/@image.ImagePath" class="shadow">
                                    <img src="~/img/@image.ImagePath" id="sliderImage" class="center" />
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="col-md-6 p-3 shadow" id="detailSection">
                    <div class="product-dtl">
                        <div class="product-info">
                            <div class="product-name"><h4>@Model.ProductDto.Name</h4></div>
                            <div class="product-price-discount">
                                @if (product.Discount != null && product.Discount > 0)
                                {
                                    <span>
                                        @Math.Round(discountedPrice, 2) ₺
                                    </span>
                                    <span class="line-through">
                                        @price ₺
                                    </span>
                                    <input type="hidden" name="price" value="@discountedPrice" />
                                }
                                else
                                {
                                    <span>@price ₺</span>
                                    <input type="hidden" name="price" value="@price" />
                                }
                            </div>
                        </div>
                        <p>@Model.ProductDto.ShortDescription</p>
                        @if (Model.ProductDto.IsActive)
                        {
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" name="productId" value="@product.Id">
                                    @if (Model.SelectedColors.Count() > 0)
                                    {
                                        <label for="size">Renk</label><br />
                                        <div class="toolbar">
                                            <div id="myColorSelector" class="colorSelector">

                                                @foreach (var color in Model.SelectedColors)
                                                {
                                                    <label class="buttonContainer">
                                                        <input type="radio" name="color" value="@color.Name" checked>
                                                        <div class="colorOption" style="background:@color.Code"></div>
                                                    </label>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <br />
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="product-count">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <small>Adet</small>
                                            <div class="display-flex">
                                                <div class="qtyminus">-</div>
                                                <input type="text" name="quantity" value="1" class="qty">
                                                <div class="qtyplus">+</div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <button type="submit" class="float-right round-black-btn">Sepete Ekle</button>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <small class="text-danger">Ürün listeden kaldırılmıştır.</small>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="product-info-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Ürün Açıklaması</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Değerlendirmeler (@Model.Ratings.Count)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        @Html.Raw(Model.ProductDto.Description)
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="card shadow">
                            <div class="card-body">
                                @if (Model.Ratings.Count < 1)
                                {
                                    <p class="mb-20">Bu ürün için henüz bir değerlendirme yapılmadı.</p>
                                }
                                else
                                {
                                    foreach (var item in Model.Ratings)
                                    {
                                        var date = (DateTime)item.CreationDate;
                                        <small>@date.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("tr"))</small>
                                        <div class="star-area" data-point="@item.Point">
                                            <span class="fa fa-star @(item.Point>0 ?"checked":"")"></span>
                                            <span class="fa fa-star @(item.Point>1 ?"checked":"")"></span>
                                            <span class="fa fa-star @(item.Point>2 ?"checked":"")"></span>
                                            <span class="fa fa-star @(item.Point>3 ?"checked":"")"></span>
                                            <span class="fa fa-star @(item.Point>4 ?"checked":"")"></span>
                                            <span class="ml-3">@item.Comment</span>
                                            <div class="mb-2"></div>
                                            <hr />
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <!-- Product Detail Custom JS -->
    <script src="~/customPagesJs/productDetail.js"></script>
    <!-- Light Slider JS -->
    <script src="~/node_modules/lightslider/dist/js/lightslider.min.js"></script>
}