@model E_Commerce_App.WebUI.ViewModels.ProductViewModel
@{
    Layout = "_Layout";
    var product = Model.ProductDto;
    var mainImage = Model.ProductDto.MainImage;
    var productImages = Model.Images.ToList();
    productImages.Insert(0, new E_Commerce_App.Core.Shared.DTOs.ImageDto { ImagePath = mainImage });

    double discountedPrice = 0;
    var price = Convert.ToDouble(product.Price);
    price = Math.Round(price, 0);
    if (product.Discount != null && product.Discount > 0)
    {
        discountedPrice = Convert.ToDouble(product.Price - ((product.Price * product.Discount) / 100));
    }
}
@section Css{
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">

    @*Ürün Sitil*@
    <style>
        .pd-wrap {
            padding: 40px 0;
            font-family: 'Poppins', sans-serif;
        }

        .heading-section {
            text-align: center;
            margin-bottom: 20px;
        }

        .sub-heading {
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            display: block;
            font-weight: 600;
            color: #2e9ca1;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .heading-section h2 {
            font-size: 32px;
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 15px;
            font-family: 'Poppins', sans-serif;
        }

        .user-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: relative;
            min-width: 80px;
            background-size: 100%;
        }

        .carousel-testimonial .item {
            padding: 30px 10px;
        }

        .quote {
            position: absolute;
            top: -23px;
            color: #2e9da1;
            font-size: 27px;
        }

        .name {
            margin-bottom: 0;
            line-height: 14px;
            font-size: 17px;
            font-weight: 500;
        }

        .position {
            color: #adadad;
            font-size: 14px;
        }

        .owl-nav button {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            outline: none;
            height: 25px;
        }

            .owl-nav button svg {
                width: 25px;
                height: 25px;
            }

            .owl-nav button.owl-prev {
                left: 25px;
            }

            .owl-nav button.owl-next {
                right: 25px;
            }

            .owl-nav button span {
                font-size: 45px;
            }

        .product-thumb .item img {
            height: 100px;
        }

        .product-name {
            font-size: 22px;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 4px;
        }

        .product-price-discount {
            font-size: 22px;
            font-weight: 400;
            padding: 10px 0;
            clear: both;
        }

            .product-price-discount span.line-through {
                text-decoration: line-through;
                margin-left: 10px;
                font-size: 14px;
                vertical-align: middle;
                color: #a5a5a5;
            }

        .display-flex {
            display: flex;
        }

        .align-center {
            align-items: center;
        }

        .product-info {
            width: 100%;
        }

        .reviews-counter {
            font-size: 13px;
        }

            .reviews-counter span {
                vertical-align: -2px;
            }

        .rate {
            float: left;
            padding: 0 10px 0 0;
        }

            .rate:not(:checked) > input {
                position: absolute;
                top: -9999px;
            }

            .rate:not(:checked) > label {
                float: right;
                width: 15px;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 21px;
                color: #ccc;
                margin-bottom: 0;
                line-height: 21px;
            }

                .rate:not(:checked) > label:before {
                    content: '\2605';
                }

            .rate > input:checked ~ label {
                color: #ffc700;
            }

            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;
            }

            .rate > input:checked + label:hover,
            .rate > input:checked + label:hover ~ label,
            .rate > input:checked ~ label:hover,
            .rate > input:checked ~ label:hover ~ label,
            .rate > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }

        .product-dtl p {
            font-size: 14px;
            line-height: 24px;
            color: #7a7a7a;
        }

        .product-dtl .form-control {
            font-size: 15px;
        }

        .product-dtl label {
            line-height: 16px;
            font-size: 15px;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
        }

        .product-count {
            margin-top: 15px;
        }

            .product-count .qtyminus,
            .product-count .qtyplus {
                width: 34px;
                height: 34px;
                background: #212529;
                text-align: center;
                font-size: 19px;
                line-height: 36px;
                color: #fff;
                cursor: pointer;
            }

            .product-count .qtyminus {
                border-radius: 3px 0 0 3px;
            }

            .product-count .qtyplus {
                border-radius: 0 3px 3px 0;
            }

            .product-count .qty {
                width: 60px;
                text-align: center;
            }

        .round-black-btn {
            border-radius: 4px;
            background: #212529;
            color: #fff;
            padding: 7px 45px;
            display: inline-block;
            margin-top: 20px;
            border: solid 2px #212529;
            transition: all 0.5s ease-in-out 0s;
        }

            .round-black-btn:hover,
            .round-black-btn:focus {
                background: transparent;
                color: #212529;
                text-decoration: none;
            }

        .product-info-tabs {
            margin-top: 25px;
        }

            .product-info-tabs .nav-tabs {
                border-bottom: 2px solid #d8d8d8;
            }

                .product-info-tabs .nav-tabs .nav-item {
                    margin-bottom: 0;
                }

                .product-info-tabs .nav-tabs .nav-link {
                    border: none;
                    border-bottom: 2px solid transparent;
                    color: #323232;
                }

                .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
                    border: none;
                }

                .product-info-tabs .nav-tabs .nav-item.show .nav-link,
                .product-info-tabs .nav-tabs .nav-link.active,
                .product-info-tabs .nav-tabs .nav-link.active:hover {
                    border: none;
                    border-bottom: 2px solid #d8d8d8;
                    font-weight: bold;
                }

            .product-info-tabs .tab-content .tab-pane {
                padding: 30px 20px;
                font-size: 15px;
                line-height: 24px;
                color: #7a7a7a;
            }

        .review-form .form-group {
            clear: both;
        }

        .mb-20 {
            margin-bottom: 20px;
        }

        .review-form .rate {
            float: none;
            display: inline-block;
        }

        .review-heading {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 6px;
            text-transform: uppercase;
            color: #000;
        }

        .review-form .form-control {
            font-size: 14px;
        }

        .review-form input.form-control {
            height: 40px;
        }

        .review-form textarea.form-control {
            resize: none;
        }

        .review-form .round-black-btn {
            text-transform: uppercase;
            cursor: pointer;
        }
    </style>
    @*Renk Sitil*@
    <style>

        .toolbar {
            display: inline-block;
            border-radius: 4px;
            background: lightgrey;
        }

        .colorSelector {
            width: 100%;
            display: inline;
        }

            .colorSelector .buttonContainer {
                display: inline-block;
            }

            .colorSelector input[type="radio"] {
                display: none;
                height: 0;
                width: 0;
            }

            .colorSelector label:hover .colorOption {
                transform: scale(1.25);
            }

        .buttonContainer input:checked ~ .colorOption {
            transform: scale(1.45);
        }

        .colorOption {
            background: #4CAF50;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            transition: all 0.15s ease;
            margin: 15px 15px 0px 15px;
        }
    </style>
    @*Galeri Sitil*@
    <style>
        #imageGallery {
            list-style: none outside none;
            padding-left: 0;
            margin-bottom: 0;
            text-align: center;
        }
        /*
        li {
            display: block;
            float: left;
            margin-right: 6px;
            cursor: pointer;
            -moz-box-shadow: inset 0 0 10px #000000;
            -webkit-box-shadow: inset 0 0 10px #000000;
            box-shadow: inset 0 0 10px #000000;
        }*/

        #sliderImage {
            display: block;
            height: auto;
            max-width: 100%;
            height: 400px;
            text-align: center;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            /*width: 50%;*/
        }

        .shadow {
            position: relative;
            -webkit-box-shadow: inset 0 0 10px 10px #000;
            -moz-box-shadow: inset 0 0 10px 10px #000;
            box-shadow: inset 0 0 10px 10px #000;
        }

        #detailSection {
            background: #f5f5f5;
        }
    </style>

    @*<link href="~/node_modules/lightslider/dist/css/lightslider.css" />*@
    @*<link href="~/node_modules/lightslider/src/css/lightslider.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" />

}
<br />
<form>
    <br />
    <br />
    <div class="pd-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 p-3 shadow">
                    @if (productImages != null)
                    {
                        <ul id="imageGallery">
                            @foreach (var image in productImages)
                            {
                                <li data-thumb="/img/@image.ImagePath" class="shadow">
                                    <img src="~/img/@image.ImagePath" id="sliderImage" class="center" />
                                </li>
                                <li data-thumb="/img/@image.ImagePath" class="shadow">
                                    <img src="~/img/@image.ImagePath" id="sliderImage" class="center" />
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="col-md-6 p-3 shadow" id="detailSection">
                    <div class="product-dtl">
                        <div class="product-info">
                            <div class="product-name"><h4>@Model.ProductDto.Name</h4></div>
                            <div class="product-price-discount">
                                @if (product.Discount != null && product.Discount > 0)
                                {
                                    <span>
                                        @Math.Round(discountedPrice, 2) ₺
                                    </span>
                                    <span class="line-through">
                                        @price ₺
                                    </span>
                                }
                                else
                                {
                                    <span>@price ₺</span>
                                }
                            </div>
                        </div>
                        <p>@Model.ProductDto.ShortDescription</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="size">Renk</label><br />
                                <div class="toolbar">
                                    <div id="myColorSelector" class="colorSelector">
                                        @if (Model.SelectedColors != null)
                                        {
                                            @foreach (var color in Model.SelectedColors)
                                            {
                                                <label class="buttonContainer">
                                                    <input type="radio" name="color" value="@color.Name" checked>
                                                    <div class="colorOption" style="background:@color.Code"></div>
                                                </label>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="product-count">
                            <div class="row">
                                <div class="col-md-6">
                                    <small>Adet</small>
                                    <div class="display-flex">
                                        <div class="qtyminus">-</div>
                                        <input type="text" name="quantity" value="1" class="qty">
                                        <div class="qtyplus">+</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <button class="float-right round-black-btn">Sepete Ekle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="product-info-tabs">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Ürün Açıklaması</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Yorumlar (0)</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                        @Html.Raw(Model.ProductDto.Description)
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <div class="review-heading">REVIEWS</div>
                        <p class="mb-20">There are no reviews yet.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts{
    <script>
        function getChecked() {
            var colorList = document.getElementsByName('color')
            for (i in colorList) {
                if (colorList[i].checked == true) {
                    return Number.parseInt(i) + 1;
                }
            }
        }
        setTimeout(function () {
            console.log("Selected color: " + getChecked());
        }
            , 1000);
    </script>
    <script src="~/node_modules/lightslider/dist/js/lightslider.min.js"></script>
    <script>
        $(document).ready(function () {

            $('#imageGallery').lightSlider({
                gallery: true,
                item: 1,
                loop: true,
                slideMargin: 0,
                thumbItem: 9
            });

            $(".qtyminus").on("click", function () {
                var now = $(".qty").val();
                if ($.isNumeric(now)) {
                    if (parseInt(now) - 1 > 0) { now--; }
                    $(".qty").val(now);
                }
            })
            $(".qtyplus").on("click", function () {
                var now = $(".qty").val();
                if ($.isNumeric(now)) {
                    $(".qty").val(parseInt(now) + 1);
                }
            });
        });
    </script>
}