@model E_Commerce_App.WebUI.ViewModels.ProductListViewModel
@{
    Layout = "_Layout";
}
@section Css{
    <!-- Product Css -->
    <link rel="stylesheet" href="~/css/product.css" />
}
<br />
@await Component.InvokeAsync("Categories")
<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-3">
            <div class="dress-card">
                <div class="dress-card-head">
                    <img class="dress-card-img-top" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7578935/2018/10/23/d7b740bc-e00e-4bec-97aa-65016f8ff2e71540289479612-Harpa-Women-Dresses-2331540289479465-1.jpg" alt="">
                    <div class="surprise-bubble">
                        <span class="dress-card-heart">
                            <i class="fas fa-shopping-cart"></i>
                        </span><a href="#"> <span>Ekle</span></a>
                    </div>
                </div>
                <div class="dress-card-body">
                    <h4 class="dress-card-title" style="text-align:center;">@product.Name</h4>
                    <div class="row">
                        <div class="col-md-12 card-button">
                            <a href="/@product.Url">
                                <div class="card-button-inner wish-button">
                                    <p class="dress-card-para"><span class="dress-card-price">@product.Price ₺</span><b>İncele</b></p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 0; i < Model.PageInfo.GetTotalPage(); i++)
                {
                    @if (String.IsNullOrEmpty(Model.PageInfo.CurrentCategory))
                    {
                        <li class="page-item @(Model.PageInfo.CurrentPage==i+1 ? "active":"")">
                            <a class="page-link" href="/products/page=@(i+1)">@(i+1)</a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

<div>
    <ul id="pagination-demo" class="pagination-sm"></ul>
</div>

@section Scripts{
    <script src="~/node_modules/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script>
        $('#pagination-demo').twbsPagination({
            totalPages: @Model.PageInfo.GetTotalPage(),
            visiblePages: 6,
            next: 'Sonraki',
            prev: 'Önceki',
            onPageClick: function (event, page) {
                //fetch content and render here
                console.log(page);
                $.ajax({
                    type: 'GET',
                    url: '/GetProducts/' + page,
                    data: '{page:' + page + '}',
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        console.log(res.data);
                    }
                });
            }
        });
    </script>
}
<style>
    .wrapper {
        margin: 60px auto;
        text-align: center;
    }

    h1 {
        margin-bottom: 1.25em;
    }

    #pagination-demo {
        display: inline-block;
        margin-bottom: 1.75em;
    }

        #pagination-demo li {
            display: inline-block;
        }

    .page-content {
        background: #eee;
        display: inline-block;
        padding: 10px;
        width: 100%;
        max-width: 660px;
    }
</style>