@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.CampaignDto>

@using System.Globalization;
<style>
    td {
        vertical-align: middle !important;
    }

    th {
        vertical-align: middle !important;
    }
</style>
<table id="categoriesTable" class="table table-hover table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Resim
            </th>
            <th>
                Kampanya
            </th>
            <th>
                Oluşturma Tarihi
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("AddOrEdit", "AdminCampaign", null, Context.Request.Scheme)','Kampanya Oluştur')"
                   class="btn btn-success btn-block text-white"><i class="fas fa-plus-circle"></i> Yeni Kampanya</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var counter = 1;}
        @foreach (var item in Model)
        {

            var date = (DateTime)item.CreationDate;

            <tr>
                <td style="text-align:center;">
                    <b>@counter</b>
                </td>
                <td style="text-align: center;">
                    <img src="~/img/@item.ImagePath" width="120" height="60" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @date.ToString("dd MMMM yyyy | HH:mm", CultureInfo.CreateSpecificCulture("tr"))
                </td>
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit", "AdminCampaign", new { id = item.Id }, Context.Request.Scheme)','Kampanya Güncelleme')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Düzenle</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return removeCampaign(this)" class="d-inline">
                            <input type="submit" value="Sil" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
                @{counter++;}
            </tr>
        }
    </tbody>
</table>