@{
    Layout = null;
}

@using System.Globalization;
@model IEnumerable<E_Commerce_App.Core.Shared.DTOs.OrderDto>

<style>
    td {
        vertical-align: middle !important;
    }

    th {
        vertical-align: middle !important;
    }
</style>

<table id="orders-table" class="table table-hover table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Müşteri
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderState)
            </th>
            <th>
                Detaylar
            </th>
        </tr>
    </thead>
    <tbody>
        @{var counter = 1; }
        @foreach (var item in Model)
        {
            var date = (DateTime)item.CreationDate;
            <tr>
                <td>@counter</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@date.ToString("dd MMMM yyyy | HH:mm", CultureInfo.CreateSpecificCulture("tr"))</td>
                <td>@item.TotalPrice ₺</td>
                <td>@item.OrderState</td>
                <td><a href="/Admin/Order/@item.Id" class="btn btn-primary btn-block">İncele</a></td>
                @{counter++;}
            </tr>
        }
    </tbody>
</table>

