@model E_Commerce_App.WebUI.ViewModels.OrderViewModel
@{
    ViewData["SubPage"] = "Siparişler";
    ViewData["SubPageUrl"] = "Order";
    ViewData["CurrentPage"] = ViewData["OrderId"];
    ViewData["CurrentPageUrl"] = "Order/" + ViewData["OrderId"];

    var orderItems = Model.OrderDto.OrderItems;
}
<div class="row">
    <div class="col-md-6">
        <!-- AREA CHART -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Siparişler</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @foreach (var item in orderItems)
                {
                    var price = item.Product.Discount > 0 ? item.Product.Price - ((item.Product.Price * item.Product.Discount) / 100) : item.Product.Price;
                    <div class="p-2">
                        <div class="row">
                            <div class="col-md-3"><img src="/img/@item.Product.MainImage" width="100" height="100" /></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-7">
                                <h6>@item.Product.Name</h6>
                                <h6><b>@(item.Quantity) Adet</b></h6>
                                <h6><b>@(price * item.Quantity) TL</b></h6>
                                <h6><b>@item.SelectedColor</b></h6>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Sipariş Durumu</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @{
                    var orderState = Model.OrderDto.OrderState == EnumOrderState.Paid ? "Ödendi, kargoyu bekliyor."
                        : Model.OrderDto.OrderState == EnumOrderState.InShipping ? "Kargoya verildi."
                        : Model.OrderDto.OrderState == EnumOrderState.Cancelled ? "İptal edildi."
                        : Model.OrderDto.OrderState == EnumOrderState.Completed ? "Tamamlandı."
                        : "Sipariş Hatası";

                    var date = Model.OrderDto.OrderDate;
                    string orderDate = date.ToString("dd MMMM yyyy HH:mm", CultureInfo.CreateSpecificCulture("tr"));
                }
                <h3 class="mt-2"><b>@orderDate</b> | Sipariş No : <b>@Model.OrderDto.ConversationId.Split("_")[0]</b></h3>
                <hr />
                <h4 class="mt-2 text-center">Sipariş Durumu : <b class="text-danger">@orderState</b></h4>
                <hr />
                <h6>
                    Adres : <b>@Model.OrderDto.Address | @Model.OrderDto.City | @Model.OrderDto.District</b>
                </h6>
                <hr />
                <h6>
                    Alıcı : <b>@Model.OrderDto.FirstName @Model.OrderDto.LastName</b>
                </h6>
                <hr />
                @if (Model.OrderDto.OrderState != EnumOrderState.Cancelled)
                {
                    <h6>Sipariş Durumunu Güncelle</h6>
                    <form asp-controller="AdminOrder" asp-action="EditOrderState" id="form-order-state">
                        @* kişiyi eklerken id vermeyi dene *@
                        <input type="hidden" asp-for="@Model.OrderDto.Id" id="order-no" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <select asp-for="OrderDto.OrderState" class="form-control">
                                    <option value="">Seçiniz...</option>
                                    <option value="@EnumOrderState.InShipping">Kargoya verildi.</option>
                                    <option value="@EnumOrderState.Completed">Tamamlandı.</option>
                                    <option value="@EnumOrderState.Cancelled">İptal edildi.</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="submit" class="btn btn-outline-primary btn-block" value="Kaydet" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $('#form-order-state').on('submit', function (event) {
            var formData = new FormData($('#form-order-state')[0]);
            var id = $('#order-no').val();
            console.log(id);
            $.ajax({
                type: 'POST',
                url: "/Admin/Order/EditOrderState",
                data: formData,
                contentType: false,
                processData: false,
                success: async function (res) {
                    if (res.success) {
                        await Swal.fire(
                            'Kayıt Başarılı !',
                            `${res.message}`,
                            'success'
                        )
                        window.location.href = res.redirectUrl;
                    } else {
                        Swal.fire(
                            'Kayıt Hatası !',
                            `${res.message}`,
                            'error'
                        )
                    }
                },
                error: function (err) {
                    toastr.error("Beklenmedik bir hata meydana geldi");
                }
            });
            return false;
        });
    </script>
}
