@model E_Commerce_App.WebUI.ViewModels.CommentViewModel
@{ Layout = null;}

<div class="row">
    <div class="col-md-12">
        <form asp-action="CommentAddOrEdit" asp-route-id="@Model.Rating.Id" id="comment-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.OrderItemId" />
            <input type="hidden" asp-for="@Model.Rating.Id" />
            <input type="hidden" asp-for="@Model.Rating.CreationDate" />
            <input type="hidden" asp-for="@Model.Rating.DateOfUpdate" />
            <input type="hidden" asp-for="@Model.HasComment" />
            <input type="hidden" asp-for="@Model.Rating.OrderItemId" />
            <div class="form-group">
                <label asp-for="@Model.Rating.Comment" class="control-label">Yorum</label>
                <div class="input-group">
                    <textarea asp-for="@Model.Rating.Comment" class="form-control" id="categoryName" placeholder="Yorumunuz"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Rating.Point">Puan</label>
                <select asp-for="@Model.Rating.Point" class="form-control">
                    <option value="">Seçiniz...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="submit" value="Kaydet" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Comment Add Edit Custom JS yetmesse validatörü ekle -->
<script src="~/customPagesJs/orderComment.js"></script>