@model E_Commerce_App.WebUI.ViewModels.UserOrderViewModel
@{ Layout = "_Layout";
    var url = User.IsInRole("admin") ? "/Admin/Profile" : "my-profile";}
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-md-3" style="position: -webkit-sticky; position: sticky; top: 7em;">
        <ul class="list-group">
            <li class="list-group-item"><a href="@url">Profil</a></li>
            <li class="list-group-item active">Siparişlerim</li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="card card-primary">
            <div class="card-body">
                @if (Model.OrderItems.Count < 1)
                {
                    <div style="text-align:center;">
                        <i class="fas fa-shopping-cart icon" style="font-size:2em;"></i>
                        <h4>Henüz pazarda alışveriş yapmadınız.</h4>
                        <span>Alışveriş listesini <b>E-Pazar'ın</b> fırsatlarla dolu dünyasından doldurmak için aşağıdaki ürünleri incelemeye başlayabilirsin.</span>
                    </div>
                }
                else
                {
                    (List<OrderItemDto> orderItems, List<string> orderDates, List<RatingDto> ratings, List<string> toComment) list = (Model.OrderItems, Model.OrderDates, Model.Ratings, Model.ToComment);

                    for (int i = 0; i < list.orderItems.Count; i++)
                    {
                        var price = list.orderItems[i].Price;
                        var orderState = list.orderItems[i].Order.OrderState == EnumOrderState.Paid ? "Ödendi, kargoyu bekliyor."
                           : list.orderItems[i].Order.OrderState == EnumOrderState.InShipping ? "Kargoya verildi."
                           : list.orderItems[i].Order.OrderState == EnumOrderState.Cancelled ? "İptal edildi."
                           : list.orderItems[i].Order.OrderState == EnumOrderState.Completed ? "Teslim edildi."
                           : "Sipariş Hatası";


                        <div class="p-2">
                            <div class="row">
                                <div class="col-md-3"><img src="/img/@list.orderItems[i].Product.MainImage" width="100" height="100" /></div>
                                <div class="col-md-6">
                                    <h6>@list.orderItems[i].Product.Name</h6>
                                    <h6><b>@(list.orderItems[i].Quantity) Adet</b></h6>
                                    <h6><b>@(price * list.orderItems[i].Quantity) TL</b></h6>
                                </div>
                                <div class="col-md-3">
                                    @* rating id yi buradaki modele ekle user order view modele yani gerci ordan ulasılabilir *@
                                    <p>@list.orderDates[i]</p>

                                    @{
                                        var action = list.orderItems[i].HasComment
                                    ? Url.Action("CommentAddOrEdit", "Order", new { id = list.ratings[i].Id }, Context.Request.Scheme)
                                    : Url.Action("CommentAddOrEdit", "Order", null, Context.Request.Scheme);
                                    }
                                    @if (list.orderItems[i].HasComment)
                                    {
                                        <a onclick="showInPopupWithId(@list.orderItems[i].Id, @action, 'Değerlendir')"
                                           class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> Değerlendir</a>
                                    }
                                    else
                                    {
                                        <a onclick="showInPopupWithId(@list.orderItems[i].Id, @action,'Değerlendir')"
                                           class="btn btn-success btn-block text-white"><i class="fas fa-plus-circle"></i> Değerlendir</a>
                                    }
                                    <hr />
                                    <p>@orderState</p>
                                </div>
                            </div>
                        </div>
                        <hr />
                    }
                }

            </div>
        </div>
    </div>
</div>
@section Css{
    <style>

        .icon {
            animation: MoveUpDown 2s linear infinite;
            position: relative;
            color: dodgerblue;
        }

        @@keyframes MoveUpDown {
            0%, 100% {
                bottom: 0;
            }

            50% {
                bottom: 20px;
            }
        }
    </style>
}